body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #bcbcc8;
  color: rgb(69, 61, 226);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  color: #333;
}

#map {
  height: 80vh;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

p {
  line-height: 1.6;
  margin: 15px 0;
}

main {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
}
