body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #bcbcc8;
  color: rgb(69, 61, 226);
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  margin-top: 20px;
  color: #333;
}

#map {
  position: relative;
  height: 80vh;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

#mapContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
}

#trackBtn {
  padding: 12px 25px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(69, 61, 226);
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
}

#status {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

#geocoder {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 20;
  width: 300px;
}
